# Mac-specific files
.DS_Store
.localized
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Android-specific files and directories
/local.properties
/.gradle
/app/build
/build
/captures
.idea/
.externalNativeBuild
.cxx
*.iml
*.ap_
*.apk
*.aab
*.aar
*.dex
*.class
*.jar
*.keystore
*.orig
*.swp
*.bak
*.swo
*.log
*.zip
*.tar
*.gz
*.rar
*.7z
*.temp
*.tmp
*.lock
*.pid
*.hprof

# Android Studio specific files and directories
.idea/workspace.xml
.idea/tasks.xml
.idea/libraries
.idea/gradle.xml
.idea/modules.xml
.idea/codeStyles
.idea/vcs.xml
.idea/assetWizardSettings.xml
.idea/compiler.xml
.idea/dictionaries
.idea/misc.xml
.idea/render.xml
.idea/runConfigurations
.idea/copyright
.idea/inspectionProfiles
.idea/shelf
.idea/translation.xml
.idea/navEditor.xml
.idea/caches

# Gradle Wrapper
!gradle-wrapper.jar

# Keystore files (if not managed by version control)
app/debug.keystore
app/release.keystore

# Local Android SDK settings
.android/